@{
    ViewBag.Title = "Excluir Especialidade";
}

<div class="jumbotron">
    <div class="container text-center">
        <h1><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Acesso negado!</h1>
        <h2>Você não tem acesso à esta funcionalidade.</h2>
    </div>
</div>