@model AgendaViewModel

@section Scripts{
    <script src="~/Scripts/Custom/Agenda.js" type="text/javascript"></script>
}

<input type="hidden" value="@Model.MedicoId" id="medicoId" />

<h3>@Model.NomeMedico</h3>

<div id='calendar'></div>

<div id="modalEventoAgenda" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formEventoAgenda" action="" method="post">
                <div class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="$('#calendar').fullCalendar('unselect')">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="IdEventoAgenda" name="IdEventoAgenda" type="hidden">

                            <input id="MedicoIdEventoAgenda" name="MedicoIdEventoAgenda" type="hidden" value="@Model.MedicoId">

                            <input id="DataInicioEventoAgenda" name="DataInicioEventoAgenda" type="hidden">
                            <input id="DataFimEventoAgenda" name="DataFimEventoAgenda" type="hidden">

                            <label class="control-label col-md-1" for="DataEvento">Data</label>
                            <div class="col-md-3">
                                <input class="form-control text-box single-line" type="text" id="DataEvento" name="DataEvento" readonly>
                            </div>

                            <label class="control-label col-md-1" for="HorarioInicioEvento">Início</label>
                            <div class="col-md-3">
                                <input class="form-control text-box single-line" type="text" id="HorarioInicioEvento" name="HorarioInicioEvento" readonly>
                            </div>

                            <label class="control-label col-md-1" for="HorarioFimEvento">Fim</label>
                            <div class="col-md-3">
                                <input class="form-control text-box single-line" type="text" id="HorarioFimEvento" name="HorarioFimEvento" readonly>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="botaoExcluir">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">Excluir</span>
                        </button>
                        
                        <button type="submit" class="btn btn-primary btn-md" role="button" id="botaoSalvar">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Salvar</span>
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearSelections()">Fechar</button>                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>