@model Receita

@section Scripts{
    <script type="text/javascript">
        //Autocomplete
        $("#Medicamento").autocomplete({
            source: "/SGCM/Medicamento/BuscarMedicamentoAutocomplete",
            minLength: 1,
            select: function (event, ui) {
                $('#MedicamentoId').val(ui.item.id);
            },
            change: function (event, ui) {
                if(!ui.item){
                    $(event.target).val("");
                    $('#MedicamentoId').val("");
                }
            },
            focus: function (event, ui) {
                return false;
            }
        });
    </script>
}

@{
    ViewBag.Title = "Receita";
}

<h2>Receita</h2>

@using (Html.BeginForm("SalvarItemReceita", "Receita", FormMethod.Post, new { @class = "form", role="form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    //@Html.HiddenFor(model => model.ConsultaId)
    @Html.HiddenFor(model => model.PacienteId)

    <fieldset class="border">
        <legend class="border">Incluir medicamento</legend>

        <input id="MedicamentoId" name="MedicamentoId" type="hidden" data-val="true" data-val-required="Selecione um medicamento cadastrado.">

        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label" for="Paciente">Medicamento</label>
                <input class="form-control text-box single-line" type="text" id="Medicamento" name="Medicamento" required data-toggle="tooltip" data-placement="top" title="Começe a digitar o nome do medicamento e selecione um item da lista exibida.">
                <span class="field-validation-valid text-danger" data-valmsg-for="MedicamentoId" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label" for="Observacao">Observação</label>
                <textarea class="form-control text-box" type="text" id="Observacao" name="Observacao" required data-val="true" data-val-required="O campo Observação é obrigatório." aria-required="true" aria-describedby="Observacao-error" aria-invalid="false"></textarea>
                <span class="field-validation-valid text-danger" data-valmsg-for="Observacao" data-valmsg-replace="true"></span>
            </div>
        </div>

        <br/>

        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-md">
                <span class="glyphicon glyphicon-floppy-disk botao-ico"></span>Salvar
            </button>
        </div>
    </fieldset>

    <fieldset class="border">
        <legend class="border">Medicamento da receita</legend>
        
        <ul class="list-group">
            @Html.DisplayFor(prop => prop.ItemReceita)
        </ul>
</fieldset>
}