<div class="text-right">
    <button type="submit" class="btn btn-primary btn-md">
        <span class="glyphicon glyphicon-remove botao-ico"></span>Excluir
    </button>

    <a type="button" class="btn btn-primary btn-md" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left botao-ico"></span>Voltar
    </a>
</div>