<div class="text-right">
    <a type="button" class="btn btn-primary btn-md" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left botao-ico"></span>Voltar
    </a>
</div>