@model ItemReceita

<li class="list-group-item">
    <div class="row">
        <div class="col-md-11">
            <h4 class="list-group-item-heading">
                @Html.DisplayFor(prop => prop.Medicamento.Descricao)
            </h4>
        </div>
    </div>
    <div class="col-md-12">
        <p class="list-group-item-text">
            @Html.DisplayFor(prop => prop.Observacao)
        </p>
    </div>
</li>