@model IndexViewModel
@{
    ViewBag.Title = "Usuário";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Modifique as configurações da sua conta:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Senha:</dt>
        <dd>
            @Html.ActionLink("Mude sua senha", "ChangePassword")
        </dd>
    </dl>
</div>
